<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/Logo.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Manchester City Football Club</h1>
            <p>Manchester City Football Club is an English football club based in Manchester that competes in the
                Premier League, the top flight of English football. Founded in 1880 as St. Mark's (West Gorton),
                it became Ardwick Association Football Club in 1887 and Manchester City in 1894. The club's home
                ground is the Etihad Stadium in east Manchester, to which it moved in 2003, having played at Maine Road
                since 1923. The club adopted their sky blue home shirts in 1894 in the first season of the club's
                current
                iteration, and have been used ever since...</p>
            <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Manchester_City_F.C.">Read More!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="board card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0" style="font-size: xx-large;">THE CITIZENS</p>
        </div>
    </div>