<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">City of Manchester Stadium</h2>
                <p class="card-text">The City of Manchester Stadium (often abbreviated as COMS) in Manchester, England,
                    also known as the Etihad Stadium for sponsorship reasons, is the home of Premier League club
                    Manchester City F.C., with a domestic football capacity of 53,400, making it the fifth-largest in
                    the Premier League and tenth-largest in the United Kingdom.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://en.wikipedia.org/wiki/City_of_Manchester_Stadium">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">City Football Group</h2>
                <p class="card-text">City Football Group Limited (CFG) is a holding company that administers association
                    football clubs. The group is owned by three organisations; of which 78% is majority owned by the Abu
                    Dhabi United Group (ADUG), 10% by the American firm Silver Lake and 12% by Chinese firms China Media
                    Capital and CITIC Capital.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://en.wikipedia.org/wiki/City_Football_Group">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Pep Guardiola</h2>
                <p class="card-text">Josep "Pep" Guardiola Sala (born 18 January 1971) is a Spanish professional
                    football manager and former player, who is the current
                    manager of Premier League club Manchester City. He is often considered to be one of the greatest
                    managers of all time and holds the records for the most consecutive league games won in the Premier
                    League.
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                    href="https://en.wikipedia.org/wiki/Pep_Guardiola">More Info</a></div>
        </div>
    </div>
</div>

<div>
    <object data="https://www.youtube.com/watch?v=mWJXuDTaeX4" width="560" height="315"></object>
</div>

<div class="card-body" id="youtube">
    <p class="text-white m-0" style="font-size: x-large; text-align: center;">
        <a href="https://www.youtube.com/c/mancity"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/Youtube.png"
                width="150px" height="150px" /></a>
    </p>
    <br>
    <h4>Check Out Our Youtube Channel To Learn More About Manchester City Football Club</h4>
</div>